{{> navbar}}
<header id="header" class="header-post z-depth-1 flow-text" style="background-image: url({{#if feature_image}}{{img_url feature_image size="xl"}}{{else}}{{asset "images/cover-home.jpg"}}{{/if}})">

    <div class="valign-wrapper">

        <div class="container">
            <div class="row center">
                <h1 class="header white-text"><strong>{{title}}</strong></h1>

                <nav class="transparent nav-center z-depth-0">
                    <div class="nav-wrapper white-text tag-wrapper">
                        Collection: <a href="/letters/">Letters to my Children</a>
                    </div>
                </nav>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="row center">
            <a href="#content"><i class="white-text medium material-icons center-align animated infinite bounce delay-2s slow">details</i></a>
        </div>
    </div>
</header>