{{!-- Modal Subscribe Trigger --}}
<a href="#modal-subscribe" class="modal-trigger waves-effect waves-light btn hide-on-med-and-down">Subscribe</a>


{{!-- Modal Subscribe --}}
<div id="modal-subscribe" class="modal">
    <div class="modal-content">
        <div class="row">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat right">
                <i class="material-icons">close</i>
            </a>
            <h4>Email List</h4>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="Name" id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input placeholder="Email Address" id="email" type="text" class="validate">
                <label for="email">Email Address</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat blue">Subscribe</a>
    </div>
</div>