{{!-- Fixed navbar that shows after scrolling past header --}}
<div id="navbar" class="navbar-fixed">
    <nav class="">
        <div class="nav-wrapper container">
            <a href="{{@site.url}}" class="brand-logo center">{{@site.title}}</a>
            <ul class="left">
                <li>
                    <a href="#!" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </li>
            </ul>

            <ul class="right">
                <li>
                    {{> modal-search}}
                </li>
            </ul>

        </div>
    </nav>
</div>

{{!-- Side navigation pan --}}
{{> sidenav}}