<div class="navbar-fixed">
    <nav class="">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center">{{@blog.title}}</a>
            <ul class="left">
                <li>
                    <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </li>
            </ul>

            <ul class="right">
                <li>
                    {{> modal-search}}
                </li>
            </ul>
            
        </div>
    </nav>
</div>

<ul class="sidenav" id="sidenav">
    {{navigation}}
</ul>