<div id="container">
  <nav class="nav-extended white pushpin z-depth-3">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo blue-text left truncate">Expandable Search Box</a>
      
      <form action="" class="browser-default right">
        <input id="search-input" placeholder="Search" type="text" class="browser-default search-field" name="q" value="" autocomplete="off" aria-label="Search box">
        <label for="search-input"><i class="material-icons search-icon">search</i></label> 
        <i class="material-icons search-close-icon">cancel</i>
        <div class="search-popup">
          <div class="search-content">
            <label class="search-heading">Most Visited</label>
            <ul class="popup-list">
              <li class=""><a class="grey-text" href="#">Google</a></li>
              <li class=""><a class="grey-text" href="#">Apple</a></li><li class=""><a class="grey-text" href="#">Microsoft</a></li><li class=""><a class="grey-text" href="#">Github</a></li>
            </ul>
          </div>
        </div>
      </form>

    </div>
  
  </nav>