<ul id="slide-out" class="sidenav">
    {{#if @blog.navigation}}
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
              <h5>
                <a class="white-text" href="{{url absolute="true"}}">{{label}}</a>
              </h5>
            </li>
        {{/foreach}}
        <!-- End the loop -->
    {{/if}}
  </ul>
<a href="#" data-target="slide-out" class="sidenav-trigger btn-flat white-text btn-large right waves-effect">
    <strong>menu</strong>
</a>