
{{!-- Github --}}
<a class="social-icon" href="https://github.com/IanTeda" target="_blank">
    {{> icons/github}}
</a>

{{!-- Instagram --}}
<a class="social-icon" href="https://www.instagram.com/ianteda/" target="_blank">
    {{> icons/instagram}}
</a>

{{!-- LinkedIn --}}
<a class="social-icon" href="https://www.linkedin.com/in/ianteda/" target="_blank">
    {{> icons/linkedin}}
</a>

{{!-- Twitter --}}
<a class="social-icon" href="https://twitter.com/IanTeda" target="_blank">
    {{> icons/twitter}}
</a>

{{!-- Strava --}}
<a class="social-icon" href="https://www.strava.com/athletes/ianteda" target="_blank">
    {{> icons/strava}}
</a>

{{!-- Email --}}
<a class="social-icon" href="mailto:ian@teda.id.au" target="_blank">
    {{> icons/email}}
</a>