{{!< default}}

<main id="home" class="content" role="main">

    {{!-- Header for home (landing) page --}}
    {{>header-home}}

    {{!-- All about Ian Teda, the elevator pitch --}}
    <div id="home-about" class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="header">About</h3>
                <p class="flow-text text-justify">
                    <em>Hi, I am <strong>Ian Teda</strong> and this my story so far:</em>
                </p>
                <div class="divider"></div>

                <p class="flow-text text-justify">I enjoy an adventure, wondering what is around the next corner and trying to be the best me. My most exciting adventure at the moment is raising my two boys – Austin and Dillan – with my beautiful wife Laura.</p>

                <p class="flow-text text-justify">I have been fortunate to work as a Civil Engineer on some amazing projects within NSW and ACT Australia. Some highlights, that I am proud to say I was involved in include: balanced cantilever segmental bridges; dry well intake tower and RCC dam; bulk earthworks; the manufacture of precast concrete structures; the Sydney Light Rail design.</p>

                <p class="flow-text text-justify">My hard work and determination has come with the satisfaction of seeing large infrastructure projects being born from design concepts to reality. Projects that I am proud to tell my boys I have worked on and help create.</p>

                <p class="flow-text text-justify">To find out more about my work, checkout my
                    <a href="#">LinkedIn Profile
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </p>

                <p class="flow-text text-justify">To find out what I am up to right now, checkout my
                    <a href="#">now page</a>.
                </p>
            </div>
        </div>
    </div>

    {{!-- What do I value, my principles. Why should you listen to me --}}
    <div id="home-code" class="grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>Code</h3>
                    <p class="flow-text text-justify">
                        <em>What I am trying to live by:</em>
                    </p>
                    <div class="divider"></div>
                    <br />

                    <!-- shown on tablet screens and up -->
                    <div class="row valign-wrapper hide-on-small-only">
                        <div class="col s3">
                            <img class="circle z-depth-2 headshot" width="100%" src="{{asset "images/head-shot.png"}}" alt="Ian Teda head shot">
                        </div>
                        <div class="col s9">
                            <blockquote>
                                <p class="flow-text text-justify no-margin ">I chose to be authentic through honesty, integrity and transparency. With a spirit for creativity, imagination and adventure. Striving to be uncomfortable by being curious, learning and reflecting. Looking for freedom through the discipline of habit. But most of all I am trying to be useful by adding value in what I do and who I am.
                                    <cite>– Ian Teda</cite>
                                </p>
                            </blockquote>
                        </div>
                    </div>

                    <!-- shown on mobile screens -->
                    <div class="row hide-on-med-and-up">
                        <div class="col s8 offset-s2">
                            <img class="circle z-depth-2" width="100%" src="{{asset "images/head-shot.png"}}" alt="Ian Teda head shot">
                        </div>
                        <div class="col s12">
                            <blockquote class="no-margin">
                                <p class="flow-text text-justify">I choose to be authentic through honesty, integrity
                                    and transparency. With a spirit for creativity, imagination
                                    and adventure. Seeking personal growth by being curious, learning and reflecting.
                                    Looking for freedom through
                                    the discipline of habit. But most of all I am trying to be useful by adding value
                                    in what I do.
                                    <cite>– Ian Teda</cite>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    {{!-- How can I add value --}}
    <div id="home-skills" class="container">
        <div class="row">

            <div class="col s12">
                <h3 class="header">Skills</h3>
                <p class="flow-text">
                    <em>My curiosity has lead to skills in:</em>
                </p>
                <div class="divider"></div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center">
                        <a href="tags/leadership">
                            <i class="material-icons large">supervisor_account</i>
                        </a>
                    </h2>
                    <h5 class="center">
                        <a href="tags/leadership">Leadership</a>
                    </h5>

                    <p class="light flow-text center-align">Project Management, Cost Management, Scheduling,
                        Estimating, Community, &amp; Contract Management.</p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center">
                        <a href="tags/engineering">
                            <i class="material-icons large">directions_railway</i>
                        </a>
                    </h2>
                    <h5 class="center">
                        <a href="tags/engineering">Engineering</a>
                    </h5>

                    <p class="light flow-text center-align">Bridges, Drainage, Dams, Water, Precast, Bulk
                        Earthworks, Drill &amp; Blast, Diaphragm Wall Tunnels, Structures
                        &amp; Light Rail,
                        <a href="/tags/the-engineering-rule-book/">Engineering Rule Book</a>.</p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center">
                        <a href="tags/programming">
                            <i class="material-icons large">computer</i>
                        </a>
                    </h2>
                    <h5 class="center">
                        <a href="tags/programming">Programming</a>
                    </h5>

                    <p class="light flow-text center-align">Web Design, Javascript, Java (Andriod), SQL &amp;
                        MongoDB.</p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center">
                        <a href="tags/creativity">
                            <i class="material-icons large">copyright</i>
                        </a>
                    </h2>
                    <h5 class="center">
                        <a href="tags/creativity">Creativity</a>
                    </h5>

                    <p class="light flow-text center-align">Videography, Photography, Maker (Arduino, Raspberry Pi)
                        &amp; Music.</p>
                </div>
            </div>
        </div>

    </div>

    {{!-- Featured post Carousel. How have I been adding value --}}
    <div id="home-feature" class="grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <a href="/blogs">
                        <h3 class="valign-wrapper black-text">
                            Feature Blog Posts
                        </h3>
                    </a>
                    <p class="flow-text text-justify">
                        <em>Some ideas (thoughts) that I have put a URL to recently:</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{>carousel-featured}}
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>

    {{!-- Get added to the email list --}}
    <div id="home-email-list" class="container">
        <div class="row">
            <section class="col s12 grey lighten-4 z-depth-1">
                <h4 class="center">Keep up to date with {{@blog.title}}</h4>
                <h6 class="center">Get the latest posts delivered right to your inbox</h6>
                {{> mailchimp}}
            </section>
        </div>
    </div>

</main>