{{!< default}}

<main class="index" role="main">
    {{> "header-letters"}}

    <div class="container">
        <div class="row">
            {{!-- Blog Post Feed --}}
            <div class="col s12 flow-text">
                <h4>Introduction</h4>
                <div class="divider"></div>
                <p>Thoughts, philosophies, maximums, lessons, and hopes I would like to pass on to my children.</p> 
                <p>On how to live, how to love and how to be.</p>

            </div>
        </div>
        <div class="row">
            <div class="col s12 post-feed">
                <h4>Table of Contents</h4>
                <div class="divider"></div>
                {{#get "posts" limit="all" order="published_at asc" filter="tag:[letters]"}}
                    <ul id="collection-list" class="collection collection-toc">
                        {{#foreach posts}}
                            {{> table-of-contents}}
                        {{/foreach}}
                    </ul>
                {{/get}}
            </div>
        </div>

    </div>
    {{!-- reset --}}

</main>