{{!< default}}

<main>
  {{!--Start Post Context--}}
  {{#post}}

    {{!--Partial Template for Post Header--}}
    {{>header-post}}

    <div class="container">
      <article id="content" class="row post {{post_class}} flow-text">
        <h2 class="col s12 post-title">
          {{title}}
          <span class="flow-text right">
            2min read
          </span>
        </h2>
        <div class="divider col s12"></div>
        <section class="col s12">
          {{content}}
        </section>
      </article>
    </div>

  {{/post}}

</main>