/* required by Ghost 2.0 to validate the theme */

.kg-image {
    max-width: 100%;
}


.kg-width-wide {
    margin:0;
}

.kg-width-full {
    margin: 0 -40px;
}

.kg-gallery-container,
.kg-gallery-row,
.kg-gallery-image {
}
