/* required by Ghost 2.0 to validate the theme */

.kg-bookmark-container {margin: auto;}
.kg-bookmark-content {margin: auto;}
.kg-bookmark-title {margin: auto;}
.kg-bookmark-description {margin: auto;}
.kg-bookmark-metadata {margin: auto;}
.kg-bookmark-icon {margin: auto;}
.kg-bookmark-author {margin: auto;}
.kg-bookmark-publisher {margin: auto;}
.kg-bookmark-thumbnail {margin: auto;}
.kg-bookmark-card{margin: auto;}

.kg-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.kg-width-wide {
    margin:0;
}

.kg-width-full {
    margin: 0 -40px;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    margin-right: 0;
    margin-left:0;
}

.kg-card {
    figcaption {
        text-align: center;
        font-style: italic;
    }
}